#map {
  height: 90vh;
}
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}
#right-panel {
  height: 600px;
  line-height: 30px;
}
#start_address,
#end_address {
  width: 100%;
}
.color-box {
  width: 15px;
  height: 15px;
  display: inline-block;
}
#legend {
  background: #fff;
  padding: 5px;
  margin: 5px;
  border: 1px solid #000;
}
.row {
  margin: .5em;
}
